<!DOCTYPE html>
<html>
<head>
    <title>Letter J Learning</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/letter-page-common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/star-popup.css') }}">
</head>


<body>

    <div class="letter">
        J  j
    </div>


<button onclick="playIntro()">🔤 This is Letter J</button>
<button onclick="playSound()">🔊 Hear the Sound</button>
<button onclick="startRecording()">🎤 Record My Voice</button>
<div id="myRecording"></div>

{% include "_star_popup.html" %}

<audio id="repeatSound">
    <source src="{{ url_for('static', filename='sounds/j_repeat.mp3') }}" type="audio/mpeg">
</audio>
    <audio id="jSound">
        <source src="{{ url_for('static', filename='sounds/j_sound.mp3')}}" type="audio/mpeg"></audio>

<script src="{{ url_for('static', filename='js/voice-compare.js') }}"></script>
<script>

function playIntro() {
    let audio = new Audio(
        "{{ url_for('static', filename='sounds/j_intro.mp3') }}"
    );

    audio.play();
}

function playSound() {
    let audio = document.getElementById("jSound");
    let letter = document.querySelector(".letter");

    audio.currentTime = 0;
    audio.play();

    letter.classList.remove("animate");
    void letter.offsetWidth;
    letter.classList.add("animate");
}

function startRecording() {
    VoiceCompare.recordAndCompare("#jSound source");
}

function goToPrevious() {
    window.location.href = "/letter_i";
}


function goToNext() {
    window.location.href = "/letter_k";
}

</script>

    <p>Sound : / jah /</p>

    <h3>Pictures</h3>

    <div class="card">
    <img src="{{ url_for('static', filename='images/jeep.jpg') }}" >
    <p>Jeep</p>
    </div>

    <div class="card">
    <img src="{{ url_for('static', filename='images/juice.jpg') }}" >   
    <p>Juice</p>
    </div>    
    <br><br>
<button onclick="goToPrevious()">
    ← Previous
</button>


<button onclick="goToNext()">
    Next ➜
</button>



</body>
</html>
