<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Progress</title>
</head>

<body>
    <button type="button" onclick="history.back()">⬅ Back</button>


<h2>View My Progress</h2>

{% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}

<form action="/progress" method="POST" autocomplete="off">

    <label>your name:</label><br>
    <input type="text" name="name" autocomplete="off" required><br><br>

    <label>code:</label><br>
    <input type="text" name="code" autocomplete="off" required><br><br>

    <button type="submit">View Progress</button>

</form>

</body>
</html>
